/* 	-------------------------------------------------
        user.css for customizations
        -------------------------------------------------
        Use this file for adding custom CSS style.
        These styles will override default theme styles.
        You can enable/disable this CSS file inside
        WordPress Appearance > Xing Options > General
        -------------------------------------------------
*/

/* Add your custom styles in this section */
/* -------------------------------------- */
.primary-1 { background-color: #115666 }
.primary-2 { background-color: #1C454F }
.primary-3 { background-color: #063945 }
.primary-4 { background-color: #429CB1 }
.primary-5 { background-color: #5FA2B1 }

.complement-1 { background-color: #A55E17 }
.complement-2 { background-color: #7F552B }
.complement-3 { background-color: #703C09 }
.complement-4 { background-color: #D18D4A }
.complement-5 { background-color: #D19F6D }






/* ------------------------------------------------- */
/* Add responsive styles inside media queries below */


/* TABLET: 740px */
@media only screen and (min-width: 740px) and (max-width: 999px) {

}

/* MOBILE: 412px */
@media only screen and (min-width: 412px) and (max-width: 739px) {
    .header-widget-area{display:none;}
}

/* MOBILE: 282px */
@media only screen and (max-width: 411px) {
    .header-widget-area{display:none;}
    h1 img{
        width: 242px;
    }
    li.cart_status{
        float:right;
    }
}

/* Colour scheme
.primary-1 { background-color: #CADB2A }
.primary-2 { background-color: #9BA441 }
.primary-3 { background-color: #828E0E }
.primary-4 { background-color: #DFED5D }
.primary-5 { background-color: #E3ED84 }
*/

body{
    background: url('images/bg.jpg');
    
}

#container{
    margin: 10px auto;
}


/* Header Stuff */
#top-menu{
    display: none;
}


.brand {
    position: relative;
    overflow: hidden;
    float: left;
    width: auto;
    margin: 0;
    padding: 20px 0 20px 20px;
}

#utility #callout{
    text-transform: uppercase;
    font-family: 'Julius Sans One', sans-serif;
}

.header-widget-area {
    position: relative;
    overflow: hidden;
    float: right;
    padding: 0 20px 0 0;
    margin: 15px 0 15px 0;
    width: 460px;
    text-align: right;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}

aside.widget_search{
    margin-bottom: 0;
}

/* End Header Stuff */



/*Product pricing */
ul.products li.product span.price, div.product span.price, div.product p.price, ul.products li.product span.price {
    color: #A55E17;
}

a.button.alt, button.button.alt, input.button.alt, #respond input#submit.alt {
background-color: #429CB1;
}

.quantity-desc{
    font-style: italic;
    font-size: 0.7em;
}

td .quantity-desc{
    font-size: 0.9em;
}

.quantity {
width: 60px;
position: relative;
margin: 0 auto;
overflow: hidden;
zoom: 1;
display: inline-block;
vertical-align:middle;
}



/*Rope options*/
.gform_wrapper .gform_footer {
padding: 0;
margin: 0;
clear: both;
}

.product-addon{
    margin-bottom: 20px;
}

.product-addon h3{
    margin: 10px 0 4px 0;
    font-weight: bold;
    display: -moz-inline-stack;
    display: inline-block;
    line-height: 1.3em;
    font-size: 12px;
}

form .form-row select {
    width: 47%;
    cursor: pointer;
    margin: 0;
    padding: 4px 2px;
}